@import "tailwindcss";

@theme {
  --color-background: #F9F9FB;
  --color-surface: #FFFFFF;
  --color-primary: #1C1C1E;
  --color-accent: #5856D6;
  --color-border: #E5E5EA;

  --radius-4xl: 32px;
  
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-grotesk);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  background-image: 
    linear-gradient(to right, rgba(229, 229, 234, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(229, 229, 234, 0.5) 1px, transparent 1px);
  background-size: 100px 100px;
  color: var(--color-primary);
  font-family: var(--font-sans), sans-serif;
}
